#### string

In [1]:
# string - cllection of characters inside single quotes or double quotes 

first_name = 'Harshit'
last_name = 'Vashistha'
full_name = first_name + " " +last_name
print(full_name)

Harshit Vashistha

In [2]:
print(first_name+3) # because string can concat with strig only

TypeError: can only concatenate str (not "int") to str

In [3]:
print(first_name+'3')
print(first_name+str(3))

Harshit3
Harshit3

In [4]:
print(first_name*3)

HarshitHarshitHarshit

In [5]:
# user input 
# input function 
# input function always takes input as string 
name = input('type your name: ')
print('Hellow'+' ' +name)

type your name: ahi
Hellow ahi

In [6]:
age = input('what is your age?')
print('your age is  '+ age)

what is your age?28
your age is  28

In [7]:
number_one = input ('enter first no: ')
number_two = input ('enter second no: ')
total = number_one + number_two
print('total is '+ total)

enter first no: 4
enter second no: 5
total is 45

In [8]:
number_one = int(input ('enter first no: '))
number_two = int(input ('enter second no: '))
total = number_one + number_two
print(f'total is  {total}')

enter first no: 4
enter second no: 5
total is  9

In [9]:
# how to write more than one variable in one line 
name , age = 'harshit', '24'
print('hellow '+ name + ' your age is  '+ age)

hellow harshit your age is  24

In [10]:
x=y=z= 1
print(x+y+z)

3

In [11]:
# two or more inputs in one line 
name ,age = input('enter your name and age').split()
print(name)
print(age)ahi

enter your name and ageahi 12
ahi
12

In [12]:
# Strings are immutable - means we can't make any cahnges in orignal string.
# we can store it into anather variables
string = 'string'
print(string[1])
# string[1] = 'T' # error 
print(string.replace('n','N'))
print(string)

t
striNg
string

In [13]:
name,age = 'Abhinav','28'
print('hellow ' +name+ ' your age is ' +age)
x=y=z=1
print(x+y+z)

hellow Abhinav your age is 28
3

In [14]:
name,age = input('Enter your name and age:').split(',')
print(name)
print(age)

Enter your name and age:abhi , 28
abhi
 28

In [15]:
# string formating
name = 'Abhinav'
age = 29
print('hellow {} your age is {}'.format(name,age))
print(f'Hellow {name} your age is {age+5}')

hellow Abhinav your age is 29
Hellow Abhinav your age is 34

In [16]:
Language  = 'python'
Language[0:5]

'pytho'

In [17]:
Language[-4:]

'thon'

In [18]:
Language[0:-1]

'pytho'

In [19]:
Language[-1:-1]

''

In [20]:
Language[-1]

'n'

In [21]:
Language[-1:]

'n'

In [22]:
Language[-2:]

'on'

In [23]:
Language[-4:]

'thon'

In [24]:
Language[:-2]

'pyth'

In [25]:
# python
Language[:5:2]

'pto'

In [26]:
Language[::2]

'pto'

In [30]:
Language[::1]

'python'

In [31]:
Language[::-1]

'nohtyp'

In [29]:
 Language[4::-1]

'ohtyp'

In [33]:
# string methods part one
# len() function
name = 'Abhinav Junghare'
len(name)
# It also count spaces within " "

15

In [34]:
# Upper method 
print(name.upper())

ABHINAVJUNGHARE

In [35]:
# Lower Methond
print(name.lower())

abhinavjunghare

In [36]:
# title() method 
print(name.title())

Abhinavjunghare

In [37]:
# count method 
print(name.count('a'))

2

In [38]:
 # lstrip method - remove l side space
name = '   Abhinav    '
dots = '.............'
print(name)

   Abhinav

In [39]:
print(name+dots)

   Abhinav    .............

In [40]:
print(name.lstrip()+dots)

Abhinav    .............

In [41]:
# rstrip method - remove r side space
print(name.rstrip()+dots)

   Abhinav.............

In [42]:
#strip method - remove all spaces 
print(name.strip()+dots)

Abhinav.............

In [43]:
# replace methods 
print(name.replace(" ",""))
print(name.replace(" ","")+ dots)

Abhinav
Abhinav.............

In [44]:
#center method 
name = 'harshit'
# ** harshit **
name.center(11)

'  harshit  '

In [45]:
name.center(11,'*')

'**harshit**'

In [49]:
name.center(9,'*')

'*abhinav*'

In [47]:
name.center(13,'*')

'***harshit***'

In [48]:
name = input('enter your name : ')
print(name.center(len(name)+8,'*'))

enter your name : abhinav
****abhinav****

In [50]:
## Assignment operator 
name = 'harsh'
name += 'it'
print(name)
# name = name + 'it' # name +=  
age = 26
age += 1
print(age)

harshit
27

In [51]:
age = 26
age *= 2
print(age)

52

In [52]:
age = 26
age = 1
print(age)

1