# sort pandas as pd

In [1]:
 import pandas as pd

In [2]:
dic ={1:'one', 3:'three',2:'two',4:'four'}
ser = pd.Series(dic,name='numbers')# seques
ser

1      one
3    three
2      two
4     four
Name: numbers, dtype: object

In [3]:
ser.tolist()

['one', 'three', 'two', 'four']

In [4]:
ser.values

array(['one', 'three', 'two', 'four'], dtype=object)

In [5]:
type(ser.values)

numpy.ndarray

# sort according index

In [6]:
ser.sort_index()

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [7]:
ser.sort_index(ascending= True)

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [8]:
ser.sort_index(ascending= False)

4     four
3    three
2      two
1      one
Name: numbers, dtype: object

In [9]:
ser.sort_index(ascending= True, inplace = True)
ser

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [10]:
ser

1      one
2      two
3    three
4     four
Name: numbers, dtype: object

In [12]:
ser.sort_values(ascending = True, inplace = True)
ser

4     four
1      one
3    three
2      two
Name: numbers, dtype: object

In [13]:
ser

4     four
1      one
3    three
2      two
Name: numbers, dtype: object