In [1]:
# list data structure - order collection of items 
# you can store any thing in list int,float,string 
numbers = [1,2,3,4]
print(numbers)

[1, 2, 3, 4]

In [2]:
words = ['asdf',"fjgk",'sdfg']
words

['asdf', 'fjgk', 'sdfg']

In [4]:
mixed = [1,2,3,4,'asdsf',"sdf",1.5,0.89]
print(mixed)

[1, 2, 3, 4, 'asdsf', 'sdf', 1.5, 0.89]

In [6]:
words = ['asdf',"fjgk",'sdfg']
words[-2:]

['fjgk', 'sdfg']

In [8]:
mixed = [1,2,3,4,'asdsf',"sdf",1.5,0.89]
print(mixed[-5:5])

[4, 'asdsf']

In [9]:
mixed[1] = 'two'
mixed

[1, 'two', 3, 4, 'asdsf', 'sdf', 1.5, 0.89]

In [10]:
mixed[1:]= ['three','four']
mixed

[1, 'three', 'four']

In [11]:
# how to add items in the list 
# most common list you can do with your list and most important
fruits = [ 'grapes','apple']
fruits.append('mango')
print(fruits)

['grapes', 'apple', 'mango']

In [12]:
fruits=[]
fruits.append('mango')
fruits.append('apple')
fruits.append('greps')
fruits

['mango', 'apple', 'greps']

In [13]:
# insert method - at any position
fruits1 = ['mango','orange']
fruits1.insert(1,'grapes')
fruits1

['mango', 'grapes', 'orange']

In [14]:
  # how to join two list
fruits1 = ['mango','orange']
fruits2 = ['Banana','Kivi']
fruits = fruits1 + fruits2
fruits

['mango', 'orange', 'Banana', 'Kivi']

In [15]:
# extend method 
fruits1.extend(fruits2)
fruits1

['mango', 'orange', 'Banana', 'Kivi']

In [18]:
fruits2

['Banana', 'Kivi']

In [17]:
# difference between append extend
fruits1 = ['mango','orange']
fruits2 = ['Banana','Kivi']
fruits1.append(fruits2) # provide  list inside list
print(fruits1)
print(fruits2)

['mango', 'orange', ['Banana', 'Kivi']]
['Banana', 'Kivi']

In [19]:
# common methods to delete data from the list
# pop method - delete last element
fruits = ['mango','orange','banana','grapes']
poped_item = fruits.pop()
poped_item

'grapes'

In [20]:
fruits

['mango', 'orange', 'banana']

In [21]:
fruits.pop(1)

'orange'

In [22]:
fruits

['mango', 'banana']

In [23]:
fruits.pop(0)

'mango'

In [24]:
fruits

['banana']

In [ ]:
fruits

In [28]:
num = [1,1,2,3,4,5]
num.remove(2)
num

[1, 1, 3, 4, 5]

In [25]:
# remove method - if i don't know position 
fruits = ['mango','orange','banana','grapes','grapes']
fruits.remove('orange')
print(fruits)

['mango', 'banana', 'grapes', 'grapes']

In [26]:
# count method 
fruits.count('banana')

1

In [ ]:
fruits

In [29]:
fruits.count('grapes')

2

In [30]:
# sort method 
fruits.sort()
print(fruits)

['banana', 'grapes', 'grapes', 'mango']

In [33]:
numbers = [3,5,1,9,10]
numbers.sort(reverse=True)
numbers

[10, 9, 5, 3, 1]

In [37]:
numbers

[]

In [34]:
# sorted functions - not permanatly sorted
print(sorted(numbers))

[1, 3, 5, 9, 10]

In [35]:
 # clear method 
print(numbers.clear())

None

In [36]:
numbers

[]

In [38]:
# copy method 
numbers = [3,5,1,9,10]
num_copy =  numbers.copy()
print(num_copy)

[3, 5, 1, 9, 10]

In [39]:
num_copy.pop()
num_copy

[3, 5, 1, 9]

In [40]:
numbers

[3, 5, 1, 9, 10]

In [41]:

# == , is 
fruits1 = ['apple','banana','cheri','greps','papaya']
fruits2 = ['orange','mango','gava','papaya']
fruits3 = ['apple','banana','cheri','greps','papaya']
fruits1 == fruits3 #  check if values are same

True

In [42]:
print(fruits1 is fruits3) # check if memory location is same

False

In [43]:
# split method - imp
user_info = 'harshit 24'.split()
user_info

['harshit', '24']

In [45]:
user_info = 'harshit ,24'.split(',')
user_info

['harshit ', '24']

In [ ]:
name,age = 'harshit, 24'.split(',')
print(name)
print(age)

In [48]:
name,age = input('enter your name and age:').split(',')
print('name')
print('age')

enter your name and age:abhi,28
name
age

In [49]:
# join method 
# convert list to string to 
user_info = ['harshit','28']
','.join(user_info)

'harshit,28'

In [ ]:
# list are mutable
# strings are immutable
# array fix data types

In [50]:
# for loop
fruits = ['apple','banana','cheri','greps','papaya']
for x in fruits:
    print(x)

apple
banana
cheri
greps
papaya

In [51]:
i = 0
while i<len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cheri
greps
papaya

In [53]:
# list inside list
matrix = [[1,2,3],[4,5,6],[7,8,9]] # 3 items in a list .2d list
print(matrix[0])

[1, 2, 3]

In [54]:
print(matrix[2])

[7, 8, 9]

In [55]:
for a in matrix:
    print(a)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [56]:
for sublist in matrix:
    for i in sublist:
        print(i)

1
2
3
4
5
6
7
8
9

In [57]:
matrix[1][0]

4

In [58]:
matrix[2][2]

9

In [61]:
# type()
s = 'string'
print(type(s))
type(s)

<class 'str'>

str

In [60]:
 print(type(matrix))

<class 'list'>

In [62]:
# generate list with range functions
numbers = list(range(1,101))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [63]:
popped_item = print(numbers.pop())
popped_item

100

In [64]:
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [65]:
 # index_method
numbers.index(7)

6

In [66]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,1,4,5,6,7,1]
numbers.index(1)

0

In [67]:
numbers.index(1,3)

10

In [69]:
numbers.index(1,-4)

15

In [70]:
def negative_list(l):
    negative = [] 
    for i in l:
        negative.append(-i)
    return negative
print(negative_list(numbers))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -1, -4, -5, -6, -7, -1]

In [71]:
def negative_list(l):
    negative = [] 
    for i in l:
        negative.append(-i)
    print(negative)
    
negative_list(numbers)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -1, -4, -5, -6, -7, -1]

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]
list2 = [1,2,3,4,5,6,7,8,9] 
list1.extend(list2)

In [ ]:
list1

In [ ]:
list2

In [ ]:
# generate list with range functions
numbers = list(range(1,11))
numbers

In [ ]:
# some thing more about pop method 
numbers.pop()
numbers

In [ ]:
print(numbers.pop())

In [ ]:
def reverse_list(l):
    l.reverse()
    return l
numbers = [1,2,3,4,5]
print(reverse_list(numbers))

In [72]:
def reverse_list(l):
    return l[::-1]
numbers = [1,2,3,4,5]
print(reverse_list(numbers))

[5, 4, 3, 2, 1]

In [ ]:
def reverse_list(l):
    r_list = []
    for i in range (len(l)):# here it will count from 0 to l-1
        popped_item = l.pop()
        r_list.append(popped_item)
    return r_list

 numbers = [1,2,3,4,5]
reverse_list(numbers)

In [ ]:
def reverse_list(l):
    r_list = []
    for i in range (1,len(l)+1):
        popped_item = l.pop()
        r_list.append(popped_item)
    return r_list

numbers = [1,2,3,4,5]
reverse_list(numbers)

In [ ]:
def reverse_elements (l):
    elements = []
    for i in l:
        elements.append(i[::-1])
    return elements  
words = ['abc','tuv','xyz']
print(reverse_elements(words))

In [ ]:
def filter_odd_even(l):
    odd_nums = []
    even_nums = []
    for i in l:
        if i % 2 == 0:
            even_nums.append(i)
        else:
            odd_nums.append(i)
    output = [odd_nums,even_nums]
    return output
nums = [1,2,3,4,5,6,7]
print(filter_odd_even(nums))

In [ ]:
# min max function 
numbers = [6,60,2,23,45,67]
print(min(numbers))
print(max(numbers))

In [ ]:
def gretest_diff(l):
    return max(l)-min(l)
print(gretest_diff(numbers))
numbers = [6,60,2]

In [ ]:
# interview question
def reverse_list(l):
    r_list = []
    for i in range (1,len(l)+1):
        popped_item = l.pop()
        r_list.append(popped_item)
    return r_list

name = ['my','name','is','khan']
reverse_list(name)